{{create-match onCreate=(action 'onCreate')}}

{{#if matches}}
  <h2 class="match-listing-header">Matches</h2>

  <table style="width: 100%;">
    <thead>
      <tr>
        <th>Type</th>
        <th>Coop / FFA</th>
        <th>Limit</th>
        <th>Stage</th>
        <th>
          Players<br>
          <em>score player (character)</em>
        </th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each formattedMatches as |matchObj|}}
        <tr class="day">
          <td colspan="6">
            <a href="#!toggle" {{action 'toggleMatchVisibility' matchObj.state}}>
              [{{if matchObj.state.hidden '+' '-'}}] {{output-date matchObj.created}}
            </a>
          </td>
        </tr>

        {{#each matchObj.matches as |match|}}
          <tr class="animated {{if matchObj.state.hidden 'hidden'}}">
            <td>
              {{match.type}}
            </td>
            <td>
              {{match.coop}}
            </td>
            <td>
              {{match.limit}} Minutes
            </td>
            <td>
              <img src="{{match.stageImage}}" class="round" height="100" title="{{match.stage}}" />
            </td>
            <td class="{{if match.details 'player-details'}}">
              <ul class="unstyled">
                {{#each match.players as |player|}}
                  <li>
                    <strong>{{player.score}}</strong>
                    {{player.userDisplayName}}
                    {{#if player.character}}
                      <img src="{{player.smallCharacterImage}}" height="14" title="{{player.character}}" />
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
            </td>
            <td>
              <ul class="unstyled">
                <li>
                  {{#if match.details}}
                    <button type="button" class="active" {{action 'hideDetails' match}}>Player Info</button>
                  {{else}}
                    <button type="button" {{action 'viewDetails' match}}>Player Info</button>
                  {{/if}}
                </li>
                <li>
                  <br>
                  <button type="button" {{action 'joinMatch' match}}>Join</button>
                  <button type="button" {{action 'deleteMatch' key match}}>Delete</button>
                </li>
              </ul>
            </td>
          </tr>

          <tr>
            <td colspan="7" class="player-table-wrapper">
              {{#liquid-if match.details class="player-listing"}}
                {{player-listing match=match}}
              {{/liquid-if}}
            </td>
          </tr>
        {{/each}}
      {{/each}}
    </tbody>
  </table>
{{/if}}

{{yield}}
