{{create-match onCreate=(action 'onCreate')}}

{{#if matches}}

  <ul class="match-listing">
    {{#each formattedMatches as |matchObj|}}
      <li>
        {{#paper-button raised=true primary=true onClick=(action 'toggleMatchVisibility' matchObj.state) }}
          {{if matchObj.state.hidden 'Show' 'Hide'}} matches on {{output-date matchObj.created}}
        {{/paper-button}}

        <div class="layout-row layout-wrap layout-xs-column {{if matchObj.state.hidden 'hide'}}">

          {{#each matchObj.matches as |match|}}
            <div class="flex-xs flex-gt-xs-25">
              {{match-card match=match details=true transition=(action 'transition')}}
            </div>
          {{/each}}
        </div>
      </li>
    {{/each}}
  </ul>

{{/if}}