<td>{{player.userDisplayName}}</td>
<td>
  <div class="character-select">
    {{#each characters as |char|}}
      <label class="{{if (eq char.name player.character) 'active'}}">
        <img src="{{char.image}}" />
        <span>
          {{radio-button value=char.name groupValue=player.character}}
          {{char.name}}
        </span>
      </label>
    {{/each}}
  </div>
</td>
<td>
  {{#each teamColors as |color|}}
    <label>
      {{radio-button value=color groupValue=player.team}}
      {{color}}
    </label>
  {{/each}}
</td>
<td>
  {{input type="number" value=player.kills}}
</td>
<td>
  {{input type="number" value=player.deaths}}
</td>
<td>
  {{player.score}}
</td>
<td>
  {{player.ratio}}
</td>
<td>
  {{#if player.hasDirtyAttributes}}
    <button type="button" {{action 'save'}}>Save</button>
  {{/if}}
  <button type="button" {{action 'leaveMatch' player match}}>Leave</button>
</td>
