<div class="app-header">
  <ul class="actions">
    {{#if session.isAuthenticated}}
      <li>
        {{#link-to 'index' tagName="button" class="small"}}
          Matches
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'leaderboard' tagName="button" class="small"}}
          Leaderboard
        {{/link-to}}
      </li>
      <li>
        <img src="{{session.currentUser.photoURL}}" class="avatar" />
      </li>
      <li>
        {{session.currentUser.displayName}}
      </li>
      <li>
        <button class="small" {{action 'signOut'}}>Logout</button>
      </li>
    {{/if}}
  </ul>

  <h2 id="title">Super Smash Bros v0.3 Beta</h2>
</div>

{{#liquid-if session.isAuthenticated class="login"}}

  {{outlet}}

{{else}}
  <div class="sign-in">
    <button {{action 'signIn' 'google'}}>Sign in with Google</button>
  </div>
{{/liquid-if}}
